html {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
html body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  cursor: default;
}
html body .all_main_full {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}
html body .main_full {
  position: absolute;
  min-width: 1024px;
  min-height: 768px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
html body .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1200px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
}
html body .container .section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
html body .container .section.pt-page-rotatePushBottom {
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  animation: rotatePushBottom 0.5s ease both;
  -webkit-animation: rotatePushBottom 0.5s ease both;
  -moz-animation: rotatePushBottom 0.5s ease both;
  -o-animation: rotatePushBottom 0.5s ease both;
  animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
}
html body .container .section.pt-page-rotatePullTop {
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  animation: rotatePulltTop 0.5s ease both;
  -webkit-animation: rotatePulltTop 0.5s ease both;
  -moz-animation: rotatePulltTop 0.5s ease both;
  -o-animation: rotatePulltTop 0.5s ease both;
  animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
}
html body .container .section.pt-current-page {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  display: block;
}
html body .container .pt-page-delay180 {
  animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
}
@keyframes rotatePulltTop {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
  }
}
@keyframes rotatePushBottom {
  to {
    opacity: 0;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }
}
html body .pt-page-left-top {
  position: fixed;
  padding: 0 5px;
  border: 1px solid #3a9ab1;
  margin: 30px;
  cursor: pointer;
  z-index: 9;
}
html body .pt-page-left-top span {
  display: block;
  width: 23px;
  border: 1px solid #fff;
  margin: 7px 0;
}
html body .pt-page-black {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
html body .pt-page-black .main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -290px;
  width: 580px;
  text-align: center;
  text-align: -webkit-center;
  -webkit-padding-start: 0;
}
html body .pt-page-black .main ul,
html body .pt-page-black .main li {
  margin: 0;
  padding: 0;
}
html body .pt-page-black .main a {
  position: relative;
  float: left;
  text-decoration: none;
  text-align: right;
  padding: 50px 30px;
  border: 4px solid transparent;
  display: block;
  margin-right: 10px;
}
html body .pt-page-black .main i {
  font-style: normal;
  color: #fffefd;
}
html body .pt-page-black .main .item {
  cursor: default;
  float: left;
}
html body .pt-page-black .main .item span {
  color: #fffefd;
  display: block;
}
html body .pt-page-black .main .item:nth-child(1) {
  animation: pushup 0.3s 0s linear both;
}
html body .pt-page-black .main .item:nth-child(2) {
  animation: pushup 0.3s 0.1s linear both;
}
html body .pt-page-black .main .item:nth-child(3) {
  animation: pushup 0.3s 0.2s linear both;
}
html body .pt-page-black .main .item:nth-child(4) {
  animation: pushup 0.3s 0.3s linear both;
}
html body .pt-page-black .main .item.active a {
  border-color: #52e4fe;
}
html body .pt-page-black .main .item.active a i,
html body .pt-page-black .main .item.active a span {
  color: #58f1ff;
}
@keyframes pushup {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0;
  }
}
html body .pt-page-black .line {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
html body .pt-page-black .line-top {
  width: 0;
  height: 4px;
  left: -4px;
  top: -4px;
}
html body .pt-page-black .line-right {
  width: 4px;
  height: 0;
  right: -4px;
  top: -4px;
}
html body .pt-page-black .line-bottom {
  width: 0;
  height: 4px;
  bottom: -4px;
  right: -4px;
}
html body .pt-page-black .line-left {
  width: 4px;
  height: 0;
  left: -4px;
  bottom: -4px;
}
html body * {
  list-style: none;
}
html body .pt-page-right {
  position: fixed;
  padding: 10px;
  right: 20px;
  top: 50%;
  margin-top: -36px;
}
html body .pt-page-right span {
  display: block;
  width: 23px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  margin: 8px 0;
  transition: width 0.3s ease both, border-color 0.3s ease both;
  -webkit-transition: width 0.3s ease both, border-color 0.3s ease both;
  -moz-transition: width 0.3s ease both, border-color 0.3s ease both;
  -o-transition: width 0.3s ease both, border-color 0.3s ease both;
}
html body .pt-page-right span.active {
  width: 26px;
  border-color: #5df1ff;
}
html body .pt-close {
  position: absolute;
  width: 35px;
  height: 36px;
  margin: 30px;
  cursor: pointer;
  background-color: #58f1ff;
}
html body .pt-close:before,
html body .pt-close:after {
  position: absolute;
  content: ' ';
  width: 18px;
  border-top: 1px solid #fff;
  margin-left: 8.5px;
  margin-top: 17px;
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
}
html body .pt-close:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
html body .pt-close:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
html body .font-size26 {
  font-size: 26px;
}
html body .font-size24 {
  font-size: 24px;
}
html body .font-size22 {
  font-size: 22px;
}
html body .text-align-right {
  text-align: right;
}
html .bottom-left-resume {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 48px;
}
html .bottom-left-resume span:first-child {
  color: #fff;
  display: block;
}
html .bottom-left-resume span:last-child {
  color: #50ddec;
  font-size: 12px;
  display: block;
}
html #page1 .img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
html #page1 .img-animate1 {
  animation: showImgA 0s linear both, rotateImgA 100s linear infinite;
  -webkit-animation: showImgA 0s linear both, rotateImgA 100s linear infinite;
  -moz-animation: showImgA 0s linear both, rotateImgA 100s linear infinite;
  -o-animation: showImgA 0s linear both, rotateImgA 100s linear infinite;
}
html #page1 .img-animate2 {
  animation: showImgA 1s 3s linear both, rotateImgB 50s 4s linear infinite;
  -webkit-animation: showImgA 1s 3s linear both, rotateImgB 50s 4s linear infinite;
  -moz-animation: showImgA 1s 3s linear both, rotateImgB 50s 4s linear infinite;
  -o-animation: showImgA 1s 3s linear both, rotateImgB 50s 4s linear infinite;
}
html #page1 .img-animate3 {
  animation: showImgA 1s 1s linear both, rotateImgC 20s 2s linear infinite;
  -webkit-animation: showImgA 1s 1s linear both, rotateImgC 20s 2s linear infinite;
  -moz-animation: showImgA 1s 1s linear both, rotateImgC 20s 2s linear infinite;
  -o-animation: showImgA 1s 1s linear both, rotateImgC 20s 2s linear infinite;
}
html #page1 .img-animate4 {
  animation: showImgA 1s 2s linear both, rotateImgD 30s 3s linear infinite;
  -webkit-animation: showImgA 1s 2s linear both, rotateImgD 30s 3s linear infinite;
  -moz-animation: showImgA 1s 2s linear both, rotateImgD 30s 3s linear infinite;
  -o-animation: showImgA 1s 2s linear both, rotateImgD 30s 3s linear infinite;
}
@keyframes showImgA {
  to {
    opacity: 1;
  }
}
@keyframes rotateImgA {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotateImgB {
  80% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
  99% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
}
@keyframes rotateImgC {
  to {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@keyframes rotateImgD {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.select-no {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
